@media (max-width: 991px) {
    header {
        height: 50px;
        display: flex;
        background-color: #171717 !important;
        top: 0 !important;
    }

    #hero-section .hero-single-slide h1 {
        font-size: 50px;
    }

    #hero-section canvas {
        top: 50px !important;
    }

    .toggle-menu {
        display: block;
        cursor: pointer;
    }

    nav#main-menu {
        position: absolute;
        top: 49px;
        width: 100%;
        background: #171717;
        display: none;
        left: 0;
    }

    nav#main-menu ul {
        max-width: 720px;
        margin: 0 auto;
        padding-left: 15px;
    }

    #main-menu ul li a {
        padding: 7px 0;
    }

    #about-us {
        margin-top: 70px;
    }

    #about-us h2 {
        text-align: center;
    }

    #counter-section {
        padding-bottom: 100px;
    }

    .single-counter {
        margin-bottom: 100px;
    }

    #counter-section .row div {
        border: none;
    }

    #subscription-section h3 {
        margin-bottom: 20px;
        text-align: center;
    }

    #subscription-section input[type="email"] {
        margin-bottom: 20px;
    }

    #subscription-section input[type="submit"] {
        width: 200px;
        display: block;
        margin: 0 auto;
    }

    #pricing-section .single-price {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    #pricing-section .single-price.recommanded {
        transform: scale(1);
    }

    #pricing-section .single-price.recommanded:hover {
        transform: scale(1.06);
    }

    #pricing-section .single-price:last-child {
        margin-top: 40px;
    }

    #testimonial {
        padding-left: 0;
        margin-top: 100px;
    }

    footer .social-icons {
        margin-bottom: 15px;
    }


}

@media (max-width: 480px) {
    .section-title {
        margin-bottom: 50px;
    }

    #hero-section .bounce-icon,
    #hero-section .owl-dots {
        display: none;
    }

    #hero-section .hero-single-slide h1 {
        font-size: 30px;
    }

    #about-section h2,
    .section-title h2 {
        font-size: 35px;
        letter-spacing: 1px;
    }

    #about-us,
    #our-skills {
        padding: 0 15px;
    }

    #blog .blog-img .blog-date {
        position: absolute;
    }

    #blog .blog-content {
        width: 100%;
        margin-top: 21px;
    }

    .single-service {
        padding: 30px 0px 40px;
    }

    .blog-img img {
        max-height: 100%;
    }

    .blog-date {
        top: 100%;
    }

    .testimonial-items:before {
        font-size: 40px;
    }

    .single-testimonial {
        padding-left: 60px;
    }
}